
form{
    font-family: 'Roboto',sans-serif;
    padding: 50px;
}
form label{
    text-align: left;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
}
form input{
    padding: 5px;
    border-radius: 5px;
    border-color: transparent;
    margin: 7px;
}
form button {
    padding: 3px;
    border-radius: 10px;
    background-color: transparent;
    transition: all 0.3s;
    font-size: large;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

form button:hover {
    background-color: rgba(255, 255, 255, 0.552);
    border-color: rgba(255, 255, 255, 0.552);
    color: back;
}
.distable{
    display: flex;
    align-items: center;
}
.boxxx{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    height: 320px;
    margin: 5px;
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(1.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow-y: scroll;
 }
.tables{
    height: 320px;
    /* margin: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    border-radius: 16px;
    /* height: 90vh; */
    background-color: white;
    padding: 20px;
    overflow-y: scroll;
}
.genintab{
    margin: 10px;
}
.damn{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}